@import url('components/tools.css');
@import url('components/navbar_scroll.css');
@import url('components/buttons.css');

body {
  background-color: rgb(230,240,245);
}

a {
  font-family: "Helvetica";
  text-decoration: none;
  font-weight: bolder;
  color: #2BB3C0;
  font-size: 14px;
}

h1, h2, h3, h4 {
  font-family: "Helvetica";
  text-decoration: none;
  font-weight: bolder;
  color: rgb(80,80,90);
  margin: 0;
}

p {
  font-family: "Helvetica";
  text-decoration: none;
  font-weight: bolder;
  color: rgb(130,130,140);
  font-size: 13px;
  margin: 0;
}

.container {
  padding: 50px 20%;
}

.hidden {
  display: none;
}

.transition {
  transition: 0.5s ease;
}

.custom-btn {
  margin-top: 6px;
  margin-bottom: 6px;
  opacity: 0.7;
}

.custom-btn:hover {
  opacity: 1;
}






.flexbox {
  display: flex;
  align-items: center;
}
.flex-column {
  flex-direction: column;
  align-items: flex-start;
}
.jc-between {
  justify-content: space-between;
}
.jc-around {
  justify-content: space-around;
}
.jc-center {
  justify-content: center;
}
.jc-start {
  justify-content: flex-start;
}
.jc-end {
  justify-content: flex-end;
}
.ai-center {
  align-items: center;
}
.ai-start {
  align-items: flex-start;
}
.ai-end {
  align-items: flex-end;
}
.wrap {
  flex-wrap: wrap;
}
.ac-between {
  align-content: space-between;
}
.ac-around {
  align-content: space-around;
}
.ac-center {
  align-content: center;
}
.ac-start {
  align-content: flex-start;
}
.ac-end {
  align-content: flex-end;
}




.gridbox {
  display: grid;
  padding: 60px;
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100%;
  background-color: white;
}
.gridbox-item-01 {
  padding: 30px;
  text-align: center;
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  border: 1px dashed rgb(200,200,210);
}
.gridbox-item-02 {
  padding: 30px;
  text-align: center;
  background-color: white;
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  border: 1px dashed rgb(200,200,210);
}
.gridbox-item-03 {
  padding: 30px;
  text-align: center;
  background-color: white;
  grid-row: 1 / span 1;
  grid-column: 3 / span 1;
  border: 1px dashed rgb(200,200,210);
}
.gridbox-item-04 {
  padding: 30px;
  text-align: center;
  background-color: white;
  grid-row: 1 / span 1;
  grid-column: 4 / span 1;
  border: 1px dashed rgb(200,200,210);
}
@media (max-width: 1000px) {
  .gridbox {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
  }
  .gridbox-item-03 {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
  }
  .gridbox-item-04 {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
  }
}

@media (max-width: 768px) {
  .gridbox {
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50% 50% 50%;
  }
  .gridbox-item-01 {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
  }
  .gridbox-item-02 {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
  }
  .gridbox-item-03 {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
  }
  .gridbox-item-04 {
    grid-row: 4 / span 1;
    grid-column: 1 / span 1;
  }
}

.grid-card {
  display: grid;
  grid-gap: 15px;
  padding: 30px;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 100px 1fr;
}

.grid-card-item-01 {
  grid-row: 1 / span 1;
  grid-column: 1 / span 4;
  border: 2px dashed rgba(255,255,255,0.4);
  padding: 10px;
}
.grid-card-item-02 {
  grid-row: 2 / span 1;
  grid-column: 1 / span 4;
  border: 2px dashed rgba(255,255,255,0.4);
  padding: 10px;
}
.grid-card-item-03 {
  grid-row: 3 / span 1;
  grid-column: 1 / span 2;
  border: 2px dashed rgba(255,255,255,0.4);
  padding: 10px;
}
.grid-card-item-04 {
  grid-row: 3 / span 1;
  grid-column: 3 / span 2;
  border: 2px dashed rgba(255,255,255,0.4);
  padding: 10px;
}





.cardbox {
  width: 350px;
  padding: 30px;
  margin: 40px auto;
  background-color: white;
  border-radius: 4px;
}
.card-header {
  margin-bottom: 15px;
}
.card-footer {
  margin-top: 15px;
}

@media (max-width: 768px) {
  .container {
    padding: 50px 5%;
  }
  .cardbox {
    width: 280px;
  }
}



.text-white {
  color: white;
}
.text-white-transparent {
  color: rgba(255,255,255,0.7);
}


.op25 {
  opacity: 0.25;
}
.op50 {
  opacity: 0.50;
}
.op75{
  opacity: 0.75;
}
.op100 {
  opacity: 1;
}






.flexrow {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

@media (min-width: 100px) {
  .flex-xs-1 {
    width: calc(12.5% - 20px);
    padding: 10px;
  }
  .flex-xs-2 {
    width: calc(25% - 20px);
    padding: 10px;
  }
  .flex-xs-3 {
    width: calc(37.5% - 20px);
    padding: 10px;
  }
  .flex-xs-4 {
    width: calc(50% - 20px);
    padding: 10px;
  }
  .flex-xs-5 {
    width: calc(62.5% - 20px);
    padding: 10px;
  }
  .flex-xs-6 {
    width: calc(75% - 20px);
    padding: 10px;
  }
  .flex-xs-7 {
    width: calc(87.5% - 20px);
    padding: 10px;
  }
  .flex-xs-8 {
    width: calc(100% - 20px);
    padding: 10px;
  }
}



@media (min-width: 900px) {
  .flex-md-1 {
    width: calc(12.5% - 20px);
    padding: 10px;
  }
  .flex-md-2 {
    width: calc(25% - 20px);
    padding: 10px;
  }
  .flex-md-3 {
    width: calc(37.5% - 20px);
    padding: 10px;
  }
  .flex-md-4 {
    width: calc(50% - 20px);
    padding: 10px;
  }
  .flex-md-5 {
    width: calc(62.5% - 20px);
    padding: 10px;
  }
  .flex-md-6 {
    width: calc(75% - 20px);
    padding: 10px;
  }
  .flex-md-7 {
    width: calc(87.5% - 20px);
    padding: 10px;
  }
  .flex-md-8 {
    width: calc(100% - 20px);
    padding: 10px;
  }
}



@media (min-width: 1200px) {
  .flex-lg-1 {
    width: calc(12.5% - 20px);
    padding: 10px;
  }
  .flex-lg-2 {
    width: calc(25% - 20px);
    padding: 10px;
  }
  .flex-lg-3 {
    width: calc(37.5% - 20px);
    padding: 10px;
  }
  .flex-lg-4 {
    width: calc(50% - 20px);
    padding: 10px;
  }
  .flex-lg-5 {
    width: calc(62.5% - 20px);
    padding: 10px;
  }
  .flex-lg-6 {
    width: calc(75% - 20px);
    padding: 10px;
  }
  .flex-lg-7 {
    width: calc(87.5% - 20px);
    padding: 10px;
  }
  .flex-lg-8 {
    width: calc(100% - 20px);
    padding: 10px;
  }
}

@media (min-width: 1600px) {
  .flex-xl-1 {
    width: calc(12.5% - 20px);
    padding: 10px;
  }
  .flex-xl-2 {
    width: calc(25% - 20px);
    padding: 10px;
  }
  .flex-xl-3 {
    width: calc(37.5% - 20px);
    padding: 10px;
  }
  .flex-xl-4 {
    width: calc(50% - 20px);
    padding: 10px;
  }
  .flex-xl-5 {
    width: calc(62.5% - 20px);
    padding: 10px;
  }
  .flex-xl-6 {
    width: calc(75% - 20px);
    padding: 10px;
  }
  .flex-xl-7 {
    width: calc(87.5% - 20px);
    padding: 10px;
  }
  .flex-xl-8 {
    width: calc(100% - 20px);
    padding: 10px;
  }
}


.input-group {
  display: flex;
  flex-direction: column;
}



.input-group label {
  font-family: Helvetica;
  font-size: 16px;
  display: inline-block;
  font-weight: bolder;
  color: rgb(100,100,110);
  margin-bottom: 8px;
  order: -1;
}


.group-inline {
  flex-direction: row;
}
.group-inline label {
  margin-bottom: 0;
  margin-right: 16px;
  flex: 1 0 auto;
  display: flex;
  align-items: center;
}








.input-classic-style {
  -webkit-appearance: none;
  width: 100%;
  box-shadow: none;
  border: 1px solid rgb(220,220,230);
  padding: 10px 15px;
  border-radius: 3px;
  font-family: Helvetica;
  font-size: 16px;
  color: rgb(100,100,110);
  background-color: transparent;
  transition: 0.3s ease;
}

.input-hippie-style {
  -webkit-appearance: none;
  width: 100%;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid rgb(220,220,230);
  padding: 10px 15px;
  border-radius: 0;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: bolder;
  color: rgb(100,100,110);
  background-color: transparent;
  transition: 0.3s ease;
}

.input-space-style {
  -webkit-appearance: none;
  width: 100%;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid rgb(220,220,230);
  padding: 10px 15px;
  border-radius: 0;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: lighter;
  color: rgb(100,100,110);
  background-color: transparent;
  transition: 0.3s ease;
}

.input-old-style {
  -webkit-appearance: none;
  width: 100%;
  box-shadow: none;
  border: none;
  border: 2px solid rgb(220,220,230);
  padding: 10px 15px;
  border-radius: 3px;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: bold;
  color: rgb(100,100,110);
  background-color: transparent;
  transition: 0.3s ease;
}

.input-new-style {
  -webkit-appearance: none;
  width: 100%;
  box-shadow: none;
  border: none;
  border: 2px solid rgb(220,220,230);
  padding: 10px 15px;
  border-radius: 30px;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: bold;
  color: rgb(100,100,110);
  background-color: transparent;
  transition: 0.3s ease;
}

.input-classic-style:focus {
  outline: none;
  border: 1px solid rgb(200,200,210);
}
.input-classic-style::placeholder {
  color: rgb(100,100,110);
}
.input-classic-style:focus::placeholder {
  color: rgb(100,100,110);
}


.input-hippie-style:focus {
  outline: none;
  border-bottom: 1px solid #3DD2CC;
  color: #3DD2CC;
}
.input-hippie-style::placeholder {
  color: rgb(180,180,190);
}
.input-hippie-style:focus::placeholder {
  color: #3DD2CC;
}
.input-hippie-style:focus + label {
  color: #3DD2CC;
}



.input-space-style:focus {
  outline: none;
  border-bottom: 1px solid rgba(68, 187, 187, 0.5);
  color: #46B7B9;
}
.input-space-style::placeholder {
  color: rgb(180,180,190);
}
.input-space-style:focus::placeholder {
  color: #46B7B9;
}



.input-old-style:focus {
  outline: none;
}



.input-new-style:focus {
  outline: none;
}





