body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
}


.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 15px;
  background-color: white;
}

.circle-conf {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 13px;
  background-color: white;
}

.active {
  width: 40px;
  height: 40px;
  margin: 10px;
}

#color-input {
  height: 40px;
  width: 180px;
  padding-left: 20px;
  font-size: 17px;
  border: none;
  border-radius: 4px;
  color: rgba(20,20,20,0.5);
  opacity: 0;
}

.display {
  border: 1px solid rgb(220,220,220);
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 8px 17px;
  height: 30px;
  margin-bottom: 25px;
}

.top {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom {
  height: 100%;
  font-family: Helvetica;
  font-size: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comparison-1 {
  font-family: Helvetica;
  font-weight: 700;
  font-size: 20px;
}

.comp-header {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 20px;
  color: rgb(155,155,180);
}

.comp-header-2 {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 20px;
  color: rgb(155,155,180);
}
.comparison-2 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.comparison-2-bis {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.icon-1 {
  font-size: 28px;
  color: rgb(100,100,130);
  margin-left: 5px;
  margin-right: 5px;
}



.comp-header-3 {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 20px;
  color: rgb(155,155,180);
}
.comparison-3 {
  font-family: Helvetica;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

.trigger {
  font-family: Helvetica;
  font-weight: 100;
  font-size: 20px;
  color: rgb(50,50,70);
  border: 1px solid rgb(70,70,70);
  padding: 8px 16px;
  border-radius: 4px;
}


.infos-container {
  width: 25%;
  padding-left: 25px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.colorpicker {
  width: 70%;
  overflow-y: scroll;
  padding: 30px;
  background-color: white;
  border-left: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-container {
  display: flex;
  height: 100%;
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }
  .colorpicker {
    border-left: none;
    border-top: 1px solid grey;
    width: 100%;
  }
}


.item-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}


.comparison-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
